@import 'vars';

@font-face {
	font-family: "Merriweather Light";
	font-style: normal;
	src: url('../fonts/Merriweather-Light.ttf');
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
	font-family: "RobotoLight";
	src: url('../fonts/Roboto-Light.ttf');
}

@font-face {
	font-family: "RobotoThin";
	src: url('../fonts/Roboto-Thin.ttf');
}

@font-face {
	font-family: "RobotoMedium";
	src: url('../fonts/Roboto-Medium.ttf');
}

@font-face {
	font-family: "RobotoBold";
	src: url('../fonts/Roboto-Bold.ttf');
}

body {
	font-family: "Roboto", 'Helvetica Neue', Arial, sans-serif;
	font-weight: normal;
}

.main-container {
	padding: 0 20px;
	@include adaptive(tablet) {
		padding: 0 40px;
	}
	@include adaptive(desktop) {
		padding: 0 120px;
	}
}

main {
	position: relative;
	z-index: 2;
}

a {
	outline: none;
}

fieldset {
	border: 0;
	padding: 0;
}

section {
	overflow: hidden;
	margin-top: 0;
	padding: 30px 0;
	@include adaptive(desktop) {
		margin-top: 30px;
		padding: 30px 0;
	}
}

.alert {
	text-align: center;
	color: $clr-white;
	padding: 20px 100px;
	display: inline-block;
}

.alert-danger {
	background: $clr-red;
}

.alert-success {
	background: $clr-green;
}

.alert-info {
	background: $clr-blue;
}

.message {
	margin: 0 auto 40px;
	text-align: center;
}
