
//Colors

$clr-darkblue: #18364a;
$clr-darkblue-1: #1d2631;
$clr-darkblue-2: #283645;
$clr-very-darkblue: #020d15;
$clr-blue-gray: #071721;
$clr-blue-grey: #7d909d;

$clr-purple: #010028;

$clr-white: #ffffff;

$clr-lightgrey: #f2f2f2;
$clr-lightgrey-1: #eeeeee;
$clr-lightgrey-2: #e5e5e5;
$clr-grey: #cccccc;
$clr-grey-2: #666c72;


$clr-black: #000000;

$no-bg-color: transparent;

$clr-pink: #d22856;
$clr-red: #f25b26;


//Items

$main-theme-color: #d22856;
$arrow: 'arrow';
$white-arrow: 'white-arrow';


//Media queries
$mobile-width: 320px;
$tablet-width: 700px;
$desktop-width: 1200px;
$desktop-ext-width: 1366px;
$retina-res: "min-resolution: 144dpi";
$retina-dpi: "min-resolution: 1.5dppx";

//Mixins

@mixin item-color($clr, $item) {
  @if $clr == $main-theme-color {
    background: url('../img/'+ $item + '-red.svg') no-repeat center;
  }
  @else {
    background: url('../img/'+ $item + '-blue.svg') no-repeat center;
  }
}

@mixin font-regular() {
  font-family: "Roboto", 'Helvetica Neue', Arial, sans-serif;
  font-weight: normal;
}

@mixin font-light() {
  font-family: "RobotoLight", 'Helvetica Neue', Arial, sans-serif;
  font-weight: normal;
}

@mixin font-thin() {
  font-family: "RobotoThin", 'Helvetica Neue', Arial, sans-serif;
  font-weight: normal;
}

@mixin font-medium() {
  font-family: "RobotoMedium", 'Helvetica Neue', Arial, sans-serif;
  font-weight: normal;
}

@mixin font-bold() {
  font-family: "RobotoBold", 'Helvetica Neue', Arial, sans-serif;
  font-weight: normal;
}

@mixin adaptive($media) {
  @if $media == tablet {
    @media (min-width: $tablet-width) {
      @content;
    }
  }
  @if $media == desktop {
    @media (min-width: $desktop-width) {
      @content;
    }
  }
  @if $media == desktop-ext {
    @media (min-width: $desktop-ext-width) {
      @content;
    }
  }
  @if $media == retina {
    @media ($retina-res), ($retina-dpi) {
      @content;
    }
  }
}



