@import '../vars';

.about-us {
  .main-container {
    @include adaptive(desktop) {
      padding: 0 220px;
    }
  }
  background-color: $clr-darkblue;
  margin-top: 0;
  input[type="radio"] {
    display: none;
  }
}

.about-us__wrapper {
  display: flex;
  flex-wrap: wrap;
  @include adaptive(tablet) {
    margin-right: -56px;
    margin-left: -40px;
    padding-left: 20px;
  }
}

.about-us__item {
  @include adaptive(tablet) {
    flex-basis: 50%;
  }
  &--circles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  &--text {
    display: flex;
    @include adaptive(tablet) {
      flex-basis: 40%;
      margin-right: auto;
    }
  }
  &--radio {
    flex-basis: 15%;
    @include adaptive(tablet) {
      flex-basis: 9%;
    }
    @include adaptive(desktop) {
      flex-basis: 4%;
    }
  }
}

.about-us__info-block {
  &--hidden {
    display: none;
  }
}

.about-us__circle {
  text-align: center;
  flex-basis: 50%;
  @include adaptive(desktop) {
    flex-basis: 50%;
  }
}

.about-us__header {
  @include font-medium();
  font-size: 20px;
  line-height: 24px;
  color: $clr-lightgrey;
}

.about-us__radio-block {
  position: relative;
  display: flex;
  justify-content: space-around;
  margin: 50px auto 0;
  width: 100px;
  &::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 14px;
    bottom: 0;
    width: 2px;
    background-color: $clr-lightgrey-1;
  }
}

.about-us__label {
  position: relative;
  span {
    display: none;
  }
  &::before,
  &::after {
    content: '';
    position: absolute;
    border-radius: 50%;
  }
  &::before {
    top: -8px;
    height: 16px;
    width: 16px;
    background-color: $clr-lightgrey;
  }
  &::after {
    top: -4px;
    left: 4px;
    width: 8px;
    height: 8px;
    background-color: $clr-lightgrey-2;
  }
}

.about-us__input:checked ~ .about-us__label {
  &::after {
    top: -4px;
    left: 4px;
    width: 8px;
    height: 8px;
    background-color: $clr-pink;
  }
}

.about-us__text {
  margin: 0;
  @include font-regular();
  font-size: 14px;
  line-height: 24px;
  color: $clr-lightgrey-2;
  text-align: justify;
}

.about-us__list-item {
  position: relative;
  @include font-regular();
  font-size: 14px;
  line-height: 30px;
  list-style: none;
  color: $clr-lightgrey-2;
  &::before {
    content: '';
    position: absolute;
    left: -25px;
    top: 10px;
    width: 10px;
    height: 10px;
    border: 3px solid transparent;
    border-right-color: $clr-pink;
    border-top-color: $clr-pink;
    transform: rotate(45deg);
  }
}

.about-us__link {
  text-decoration: none;
  position: relative;
  @include font-regular();
  font-size: 16px;
  line-height: 30px;
  color: $clr-lightgrey-2;
  cursor: pointer;
  &:visited {
    color: $clr-lightgrey-2;
  }
  svg {
    width: 45px;
    height: 45px;
    vertical-align: middle;
    .st1 {
      fill: $clr-pink;
    }
  }
}

.about-us__image {
  max-width: 100%;
  height: auto;
}