@import '../vars';

.address {
  text-align: left;
  .main-container {
    padding: 0;
  }
}

.address__item-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.address__item {
  position: relative;
  margin-bottom: 30px;
  flex-basis: 100%;
  &:not(:last-child)::after {
    content: '';
    position: absolute;
    bottom: -27px;
    width: 100px;
    height: 1px;
    left: 50%;
    margin-left: -50px;
    background-color: $clr-darkblue;
    @include adaptive(tablet) {
      display: none;
    }
  }
  @include adaptive(tablet) {
    flex-basis: 33%;
    padding: 0 10px;
  }
}

.address__item-header {
  @include font-medium();
  font-size: 18px;
  text-transform: uppercase;
  color: $clr-pink;
  text-align: center;
  br {
    display: none;
    @include adaptive(tablet) {
      display: block;
    }
  }
}

.address__text-block {
  margin-left: 40px;
}

.address__text {
  display: block;
  position: relative;
  margin-bottom: 10px;
  color: $clr-darkblue;
  &::before {
    content: '';
    position: absolute;
    left: -30px;
    width: 20px;
    height: 20px;
    background: url('../../img/spot.svg') no-repeat center;
  }
  &--contact {
    text-decoration: none;
    &::before {
      background: url('../../img/mail.svg') no-repeat center;
    }
  }
  &--phone {
    font-size: 20px;
    &::before {
      background: url('../../img/phone.svg') no-repeat center;
    }
  }
}