@import '../vars';

.circle {
  width: 150px;
  margin: 6px 6px 20px;
  display: inline-block;
  position: relative;
  text-align: center;
  line-height: 1.2;
  @include adaptive(tablet) {
    transform: scale(0.7);
  }
  @include adaptive(desktop-ext) {
    transform: scale(1);
    margin: 6px 20px 20px;
  }
}

.circle canvas {
  vertical-align: top;
}

.circle strong {
  position: absolute;
  top: 35%;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 50px;
  line-height: 24px;
  color: $clr-lightgrey;
}

.circle strong i {
  font-style: normal;
  font-size: 0.4em;
  line-height: 0.6;
  font-weight: normal;
}
