@import '../vars';

.facts {
  text-align: center;
}

.facts__items-wrapper {
  display: flex;
}

.facts__text-block {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include adaptive(desktop) {
    flex-basis: 50%;
  }
}

.facts__image-block {
  display: none;
  @include adaptive(desktop) {
    display: block;
    background: url(../img/map.png) no-repeat center;
    background-size: contain;
    flex-basis: 46%;
    margin-left: auto;
  }
}

.facts__item-header {
  @include font-medium();
  font-size: 18px;
  line-height: 24px;
  color: $clr-darkblue;
  margin-bottom: 0;
}

.facts__item {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 20px;
  @include adaptive(tablet) {
    flex-basis: 45%;
    margin: 10px;
  }
  @include adaptive(desktop) {
    &:not(:first-child) {
      display: flex;
      align-items: center;
    }
  }
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 200px;
    left: 50%;
    margin-left: -100px;
    height: 1px;
    background-color: $clr-lightgrey-2;
    @include adaptive(desktop) {
      display: none;
    }
  }
  &--full {
    @include adaptive(tablet) {
      flex-basis: 100%;
    }
  }
}

.facts__item-text {
  @include font-regular();
  font-size: 14px;
  line-height: 24px;
  color: $clr-grey-2;
  margin-top: 0;
  text-align: justify;
}
