@import '../vars';

.feature-block {
  text-align: center;
  margin-top: 0;
  background: $clr-darkblue;
}

.feature-block__items-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.feature-block__svg-wrapper {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    bottom: -21px;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 25px solid $clr-pink;
    visibility: hidden;
    transition: border 0.3s ease;
  }
}

.feature-block__item {
  padding: 15px 0;
  flex-basis: 100%;
  @include adaptive(tablet) {
    flex-basis: 33.33%;
    padding: 10px;
  }
  @include adaptive(desktop-extra) {
    flex-basis: 16.6%;
  }
  &:hover {
    .feature-block__image {
      border-color:  $clr-white;
      transition: all 0.3s ease;
      fill: lighten($clr-pink, 30%);
    }
    .feature-block__svg-wrapper {
      &::before {
        visibility: visible;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-top: 25px solid $clr-white;
      }
    }
  }
}


.feature-block__h4 {
  @include font-medium();
  font-size: 18px;
  line-height: 26px;
  color: $clr-white;
  margin-bottom: 0;
}

.feature-block__text {
  @include font-regular();
  font-size: 14px;
  line-height: 24px;
  color: $clr-grey;
  margin-top: 0;
}

.feature-block__link {
  position: relative;
  @include font-regular();
  font-size: 16px;
  line-height: 30px;
  color: $clr-darkblue;
  margin-left: -20px;
  text-decoration: none;
  svg {
    width: 45px;
    height: 45px;
    vertical-align: middle;
    .st1 {
      fill: $clr-pink;
    }
  }
}

.feature-block__image {
  border: 10px solid $clr-pink;
  transition: all 0.5s ease;
  .st1 {
    fill: $clr-white;
  }
}