@import '../vars';

.features-slide {
	.features-slide__items-wrapper {
		text-align: center;
		color: white;
		@include adaptive(desktop) {
			display: flex;
		}
	}
	&--pages {
		.features-slide__list-block {
			text-align: left;
		}
		.features-slide__item {
			@include adaptive(desktop) {
				position: relative;
				z-index: 1;
			}
			&--double-width {
				z-index: 0;
			}
			@include adaptive(desktop-ext) {
				@include adaptive(desktop) {
					flex-basis: 25%;
				}
				&--double-width {
					flex-basis: 75%;
				}
			}
		}
	}

	&--about {
		margin-top: 0;
		padding-top: 0;
	}
	&--pages-second {
		.features-slide__list-block {
			text-align: left;
			display: flex;
			@include adaptive(desktop-extra) {
				margin-left: 100px;
			}
		}
		.features-slide__item {
			@include adaptive(desktop) {
				flex-basis: 50%;
			}
			&:first-child {
				background: linear-gradient(transparentize($clr-blue-gray, 0.3), transparentize($clr-blue-gray, 0.3)), url(../img/bg-section-1.jpg) 50% 50% no-repeat;
				background-size: cover;
			}
			&:last-child {
				.features-slide__h3 {
					span {
						color: $clr-grey;
					}
				}
			}
		}
	}

	&--revert {
		.main-container {
			@include adaptive(mobile) {
				padding: 0 40px;
			}
		}
		.features-slide__item {
			@include adaptive(desktop) {
				&--text {
					order: 2;
				}
				&--images {
					order: 1;
				}
			}
		}
	}
	&--regions {
		.features-slide__items-wrapper {
			display: flex;
			flex-direction: column;
			flex-basis: 100%;
			color: $clr-white;
			text-align: center;
			@include adaptive(desktop) {
				margin-top: 0;
				padding: 0;
			}
			@include adaptive(desktop-ext) {
				flex-direction: row;
				overflow: hidden;
			}
		}
		.features-slide__list-block {
			text-align: left;
			display: flex;
			@include adaptive(desktop-extra) {
				margin-left: 0;
			}
		}
		.features-slide__list {
			flex-basis: 50%;
			@include adaptive(mobile) {
				padding-left: 25px;
			}
		}
		.features-slide__item {
			@include adaptive(desktop) {
				&--text {
					background: linear-gradient(transparentize($clr-blue-gray, 0.3), transparentize($clr-blue-gray, 0.3)), url(../img/bg-section-1.jpg) 50% 50% no-repeat;
					background-size: cover;
					flex-basis: 40%;
				}
				&--images {
					padding: 0;
					flex-basis: 60%;
				}
			}
		}
	}
	&--guarantee {
		.features-slide__item {
			&--double-width {
				background: linear-gradient(transparentize($clr-blue-gray, 0.3), transparentize($clr-blue-gray, 0.3)), url(../img/bg-half-1.jpg) 50% 20% no-repeat;
				background-size: cover;
			}
		}
	}
	&--hard {
		.features-slide__item {
			&--double-width {
				background: linear-gradient(transparentize($clr-blue-gray, 0.3), transparentize($clr-blue-gray, 0.3)), url(../img/bg-half-2.jpg) 50% 20% no-repeat;
				background-size: cover;
			}
		}
	}
	&--oncall {
		.features-slide__item {
			&--double-width {
				background: linear-gradient(transparentize($clr-blue-gray, 0.3), transparentize($clr-blue-gray, 0.3)), url(../img/bg-half-3.jpg) 50% 20% no-repeat;
				background-size: cover;
			}
		}
	}
	&--ontime {
		.features-slide__item {
			&--double-width {
				background: linear-gradient(transparentize($clr-blue-gray, 0.3), transparentize($clr-blue-gray, 0.3)), url(../img/bg-half-4.jpg) 50% 20% no-repeat;
				background-size: cover;
			}
		}
	}
	&--transport {
		padding-bottom: 0;
		.features-slide__item {
			&--double-width {
				background: linear-gradient(transparentize($clr-blue-gray, 0.3), transparentize($clr-blue-gray, 0.3)), url(../img/bg-half-5.jpg) 50% 20% no-repeat;
				background-size: cover;
			}
		}
	}
	&--services {
		.features-slide__items-wrapper {
			flex-wrap: wrap;
		}
		.features-slide__item {
			flex-basis: 100%;
			@include adaptive(tablet) {
				flex-basis: 50%;
			}
			&--oversize,
			&--research {
				@include adaptive(desktop) {
					flex-basis: calc(50% - 1px);
					margin-right: 1px;
					margin-bottom: 1px;
				}
			}
			&--oversize {
				background: linear-gradient(transparentize($clr-blue-gray, 0.3), transparentize($clr-blue-gray, 0.3)), url(../img/bg-half-6.jpg) 50% 20% no-repeat;
				background-size: cover;
			}
			&--research {
				background: linear-gradient(transparentize($clr-blue-gray, 0.3), transparentize($clr-blue-gray, 0.3)), url(../img/bg-half-10.jpg) 50% 20% no-repeat;
				background-size: cover;
			}
			&--heavy,
			&--rigging {
				@include adaptive(desktop) {
					margin-bottom: 1px;
				}
			}
			&--heavy {
				background: linear-gradient(transparentize($clr-blue-gray, 0.3), transparentize($clr-blue-gray, 0.3)), url(../img/bg-half-7.jpg) 50% 20% no-repeat;
				background-size: cover;
			}
			&--rigging {
				background: linear-gradient(transparentize($clr-blue-gray, 0.3), transparentize($clr-blue-gray, 0.3)), url(../img/bg-half-11.jpg) 50% 20% no-repeat;
				background-size: cover;
			}
			&--project,
			&--crane {
				@include adaptive(desktop) {
					flex-basis: calc(50% - 1px);
					margin-right: 1px;
				}
			}
			&--project {
				background: linear-gradient(transparentize($clr-blue-gray, 0.3), transparentize($clr-blue-gray, 0.3)), url(../img/bg-half-8.jpg) 50% 20% no-repeat;
				background-size: cover;
			}
			&--crane {
				background: linear-gradient(transparentize($clr-blue-gray, 0.3), transparentize($clr-blue-gray, 0.3)), url(../img/bg-half-13.jpg) 50% 20% no-repeat;
				background-size: cover;
			}
			&--multimodal {
				background: linear-gradient(transparentize($clr-blue-gray, 0.3), transparentize($clr-blue-gray, 0.3)), url(../img/bg-half-9.jpg) 50% 20% no-repeat;
				background-size: cover;
			}
			&--install {
				background: linear-gradient(transparentize($clr-blue-gray, 0.3), transparentize($clr-blue-gray, 0.3)), url(../img/bg-half-12.jpg) 50% 20% no-repeat;
				background-size: cover;
			}
		}
	}
}

.features-slide__h3 {
	@include font-regular();
	font-size: 24px;
	line-height: 30px;
	@include adaptive(tablet) {
		font-size: 36px;
		line-height: 40px;
	}
	span {
		@include font-bold();
		text-transform: uppercase;
		font-size: 24px;
		line-height: 30px;
		@include adaptive(tablet) {
			font-size: 48px;
			line-height: 48px;
		}
	}
	&--custom {
		span {
			font-size: 4.5vh;
			line-height: 36px;
			color: $clr-pink;
		}
		@include adaptive(tablet) {
			position: relative;
			margin-bottom: 20px;
			br {
				display: none;
			}
			&::after {
				content: '';
				position: absolute;
				bottom: -10px;
				height: 1px;
				left: 0;
				right: 0;
				background-color: $clr-lightgrey;
				@include adaptive(desktop) {
					left: 22%;
					right: 22%;
				}
			}
		}
	}
}

.features-slide__h4 {
	@include font-light();
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 1px;
	@include adaptive(tablet) {
		margin-top: 0;
	}
}

.features-slide__item {
	padding: 10px 20px;
	@include adaptive(tablet) {
		padding: 20px 40px 40px;
	}
	@include adaptive(desktop) {
		flex-basis: 33%;
	}
	background: $clr-pink;
	&--double-width {
		background: linear-gradient(transparentize($clr-blue-gray, 0.3), transparentize($clr-blue-gray, 0.3)), url(../img/bg-full-3.jpg) 50% 20% no-repeat;
		background-size: cover;
		@include adaptive(desktop) {
			flex-basis: 67%;
		}
	}
	&--hidden {
		display: none;
		@include adaptive(desktop) {
			display: block;
		}
	}
	&--images {
		display: flex;
		flex-wrap: wrap;
	}
}

.features-slide__text {
	@include font-regular();
	font-size: 14px;
	line-height: 24px;
	color: $clr-lightgrey-2;
	text-align: justify;
}

.features-slide__list-block {
	&--hidden {
		display: none;
		@include adaptive(desktop) {
			display: block;
		}
	}
}

.features-slide__list-item {
	position: relative;
	@include font-regular();
	font-size: 14px;
	line-height: 30px;
	list-style: none;
	&::before {
		content: '';
		position: absolute;
		left: -25px;
		top: 10px;
		width: 10px;
		height: 10px;
		border: 3px solid transparent;
		border-right-color: $clr-grey;
		border-top-color: $clr-grey;
		transform: rotate(45deg);
	}
}

.features-slide__image {
	@include adaptive(desktop) {
		position: absolute;
		left: -50px;
		top: 5px;
	}
	@include adaptive(desktop-ext) {
		left: -120px;
	}
	@include adaptive(desktop-extra) {
		left: -50px;
	}
}

.features-slide__image-item {
	flex-basis: 33.33%;
	height: 130%;
	@include adaptive(desktop) {
		flex-basis: 25%;
		height: 50%;
	}
}

@include bg-images(features-slide__image-item--image, '../img/work/slide');

.features-slide__picture {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}