@import '../vars';

.feature-block {
	text-align: center;
}

.feature-block__items-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.feature-block__item {
	padding: 15px 0;
	flex-basis: 100%;
	@include adaptive(tablet) {
		flex-basis: 33.33%;
		padding: 10px;
	}
	@include adaptive(desktop) {
		flex-basis: 20%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: stretch;
	}
	&:hover {
		.feature-block__image {
			transform: rotate(90deg);
			transition: all 0.5s ease;
			fill: $clr-pink;
			.st1 {
				transform: rotate(-90deg) translateX(-100px);
				transition: all ease;
			}
		}
	}
}

.feature-block__text-block {
	display: flex;
	flex-wrap: wrap;

	@include adaptive(desktop) {
		min-height: 165px;
	}

	& > * {
		flex-basis: 100%;
	}
}

.feature-block__h4 {
	@include font-medium();
	font-size: 18px;
	line-height: 26px;
	color: $clr-darkblue;
	margin-bottom: 0;
}

.feature-block__text {
	@include font-regular();
	font-size: 14px;
	line-height: 24px;
	color: $clr-grey-2;
	margin-top: 0;
}

.feature-block__link {
	position: relative;
	@include font-regular();
	font-size: 16px;
	line-height: 30px;
	color: $clr-darkblue;
	margin-left: auto;
	margin-right: auto;
	max-width: 200px;
	text-decoration: none;

	@include adaptive(desktop) {
		align-self: flex-end;
	}

	&::before {
		content: '';
		position: absolute;
		width: 30px;
		height: 30px;
		left: 20px;
		background: url('../img/icons/white-arrow-blue.svg') no-repeat center;
	}
	&:hover {
		text-decoration: underline;
	}
	&:active {
		color: transparentize($clr-darkblue, 0.5);
	}
}

.feature-block__image {
	fill: $clr-darkblue;
	transition: all 0.5s ease;
}