@import '../vars';

.modal-window {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: none;
  background: transparentize($clr-black, 0.1);
  z-index: 150;
  position: fixed;
}

.modal-window__wrapper {
  display: none;
}

.modal-window__form {
  position: fixed;
  left: 0;
  top: 35%;
  width: 100%;
  z-index: 200;
}

.modal-window__header {
  @include font-thin();
  line-height: 2.5vh;
  font-size: 2vh;
  color: $clr-white;
  text-align: center;
  margin-bottom: 40px;
}

.modal-window__form label {
  @include font-thin();
  color: $clr-white;
  font-size: 1.8vh;
}

.modal-window__close-form {
  position: absolute;
  color: $clr-white;
  right: 25%;
  font-size: 80px;
}


.modal-window__close-form:hover {
  cursor: pointer;
  color: $clr-red;
}
