@import '../vars';

.header {
  position: relative;
  text-align: center;
  background: linear-gradient(transparentize($clr-darkblue, 0.2), transparentize($clr-darkblue, 0.2)), url('../img/bg-full-2.jpg')center no-repeat;
  background-size: cover;
  &--menu-opened {
   .header__logo {
     border-bottom: 2px solid $clr-black;
     background-color: transparentize($clr-purple, 0.3);
     @include adaptive(desktop) {
       border: none;
       background-color: transparent;
     }
   }
  }
}

.header__navbar {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
  @include adaptive(desktop) {
    padding: 5px 100px;
    align-items: center;
    background: $clr-white;
  }
}

.header__logo {
  display: flex;
  flex-basis: 100%;
  padding: 20px;
  justify-content: space-between;
  @include adaptive(tablet) {
    padding: 20px 40px;
  }
  @include adaptive(desktop) {
    flex-basis: 20%;
    padding: 0;
    margin-right: auto;
  }
}

.header__logo-img {
  width: 100px;
  @include adaptive(desktop) {
    width: 120px;
  }
}

.header__menu {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  &--hidden {
    display: none;
    @include adaptive(desktop) {
      display: flex;
    }
  }
  @include adaptive(desktop) {
    flex-basis: 50%;
  }
}


.header__menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
  @include adaptive(desktop) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.header__menu-item {
  background-color: transparentize($clr-purple, 0.3);
  text-align: center;
  border-top: 1px solid $clr-white;
  border-bottom: 2px solid $clr-black;
  padding: 15px 0;
  a {
    @include font-regular();
    font-size: 18px;
    line-height: 30px;
    color: $clr-darkblue;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    @include adaptive(desktop) {
      font-size: 15px;
      text-transform: none;
    }
  }
  &:last-child {
    border-bottom: none;
  }
  @include adaptive(desktop) {
    padding: 0;
    border: none;
    background-color: transparent;
    flex-basis: 25%;
  }
  @include adaptive(desktop-ext) {
    flex-basis: 0;
  }
}

.header__button-menu {
  align-self: center;
  @include adaptive(desktop) {
    display: none;
  }
}

.header__button {
  border: 0;
  background: none;
  outline: none;
  &--hidden {
    display: none;
  }
}

.header__button-order {
  display: none;
  @include adaptive(desktop) {
    display: block;
    flex-basis: 20%;
    margin-left: auto;
  }
  @include adaptive(desktop-ext) {
    margin-left: 10px;
    text-align: right;
  }
}


.header__top-bar {
  display: none;
  background-color: $clr-white;
  padding: 0 100px;
  border-bottom: 1px solid $clr-grey-2;
  @include adaptive(desktop) {
    display: flex;
  }
}

.header__item {
  display: flex;
  align-items: center;
  flex-basis: 50%;
  &--social {
    justify-content: space-between;
  }
  &:last-child {
    margin-left: auto;
    flex-basis: 20%;
  }
}

.header__social {
  display: block;
  margin-right: 10px;
  svg {
    fill: $clr-grey-2;
    width: 20px;
    height: 20px;
  }
  @include adaptive(tablet) {
    margin-left: auto;
  }
}

.header__contact-item {
  display: block;
  position: relative;
  padding: 5px;
  color: $clr-grey-2;
  text-decoration: none;
  @include font-regular();
  font-size: 16px;
  line-height: 24px;
  &:last-child {
    margin-left: 20px;
  }
  svg {
    vertical-align: middle;
    margin-right: 5px;
    fill: $clr-grey-2;
  }
}