@import '../vars';

.header {
  position: relative;
  text-align: center;
  background: linear-gradient(transparentize($clr-purple, 0.3), transparentize($clr-purple, 0.3)), url('../../img/bg-full-1.jpg')center no-repeat;
  background-size: cover;
  &--menu-opened {
   .header__logo {
     border-bottom: 2px solid $clr-black;
     background-color: transparentize($clr-purple, 0.3);
   }
  }
}

.header__navbar {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
}

.header__logo {
  display: flex;
  flex-basis: 100%;
  padding: 20px;
  justify-content: space-between;
}

.header__logo-img {
  width: 100px;
}

.header__menu {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  &--hidden {
    display: none;
  }
}

.header__menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__menu-item {
  background-color: transparentize($clr-purple, 0.3);
  text-align: center;
  border-top: 1px solid $clr-white;
  border-bottom: 2px solid $clr-black;
  padding: 15px 0;
  a {
    @include font-bold();
    font-size: 18px;
    line-height: 30px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
  }
  &:last-child {
    border-bottom: none;
  }
}

.header__button-menu {
  align-self: center;
}

.header__button {
  border: 0;
  background: none;
  outline: none;
  &--hidden {
    display: none;
  }
}