@import '../vars';

.price {
  background: $clr-darkblue;
}

.price__items-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.price__item  {
  flex-basis: 100%;
  width: 230px;
  list-style: none;
  background: $clr-white;
  border-radius: 7px;
  text-align: center;
  padding: 0;
  margin: 20px 0;
  @include adaptive(tablet) {
    flex-basis: 46%;
  }
  @include adaptive(desktop) {
    flex-basis: 23%;
    &:hover {
      background-color: $clr-pink;
      .price__header {
        color: $clr-white;
      }
      .price__amount {
        color: $clr-white;
        span {
          color: $clr-darkblue;
        }
      }
      .price__list-item {
        color: $clr-white;
        &:last-child {
          background-color: $clr-white;
        }
      }
      .price__link {
        color: $clr-darkblue;
        background: transparent;
        background-size: 100px 100px;
      }
    }
  }
}

.price__link {
  text-decoration: none;
  color: $clr-white;
  display: block;
}

.price__list-item {
  @include font-regular();
  font-size: 14px;
  line-height: 50px;
  color: $clr-darkblue;
  &:not(:last-child) {
    border-bottom: 1px solid $clr-grey;
  }
  &:last-child {
    background-color: $clr-pink;
    color: $clr-white;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    text-transform: uppercase;
  }
}

.price__header {
  @include font-bold();
  font-size: 14px;
  line-height: 59px;
  color: $clr-grey-2;
  text-transform: uppercase;
  @include adaptive(desktop) {
    font-size: 20px;
    line-height: 36px;
  }
}

.price__amount {
  @include font-regular();
  font-size: 20px;
  span {
    @include font-bold();
    font-size: 52px;
    color: $clr-pink;
  }
}