@import '../vars';

.quote {
	text-align: center;
	background: linear-gradient(transparentize($clr-darkblue, 0.3), transparentize($clr-darkblue, 0.3)), url('../img/bg-full-1.jpg') center no-repeat;
	background-size: cover;
	&--contacts {
		background: linear-gradient(transparentize($clr-white, 0.2), transparentize($clr-white, 0.05)), url('../img/other/question-bg.jpg') center no-repeat;
		background-size: cover;
		@include adaptive(desktop) {
			background-size: contain;
		}
		.quote__label {
			color: $clr-grey-2;
		}
	}
}

.quote__form {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	@include adaptive(tablet) {
		flex-direction: row;
	}
	&--modal {
		.quote__text-input {
			max-width: none;
		}
	}
	@include adaptive(desktop) {
		width: 80%;
		margin: 0 auto;
	}
	@include adaptive(desktop-ext) {
		width: 70%;
	}
}

.quote__item-wrapper {
	display: flex;
	&:last-child {
		margin-bottom: 30px;
	}
	@include adaptive(tablet) {
		margin: 30px auto;
		flex-basis: 40%;
	}
}

.quote__item {
	position: relative;
	flex-basis: 100%;
	margin-bottom: 20px;
}

.quote__label {
	@include font-regular();
	font-size: 18px;
	color: $clr-grey;
	position: absolute;
	top: 24px;
	left: 20px;
	pointer-events: none;
	transition: all 0.5s ease;
}

.quote__text-input {
	background: transparent;
	outline: none;
	border: 1px solid $clr-blue-grey;
	border-radius: 3px;
	width: 100%;
	padding: 30px 20px 10px;
	margin-top: 4px;
	@include font-regular();
	font-size: 16px;
	color: $clr-grey;
	resize: none;
	transition: padding 0.5s ease;
	@include adaptive(desktop) {
		max-width: 395px;
		max-height: 70px;
	}
	@include adaptive(desktop-ext) {
		max-width: 500px;
	}
	&:focus,
	&:valid {
		& ~ .quote__label {
			transform: translateY(-15px);
			font-size: 14px;
		}
	}

	&--contacts {
		color: $clr-black;
	}
}

