@import '../vars';

.quote {
  margin-top: 0;
  text-align: center;
  background: linear-gradient(transparentize($clr-darkblue, 0.3), transparentize($clr-darkblue, 0.3)), url('../img/bg-full-3.jpg')bottom no-repeat;
}

.quote__item-wrapper {
  display: flex;
  @include adaptive(tablet) {
    width: 50%;
    margin: 30px auto;
  }
  @include adaptive(desktop) {
    width: 30%;
  }
}

.quote__item {
  position: relative;
  flex-basis: 100%;
  margin-bottom: 20px;
}

.quote__label {
  @include font-regular();
  font-size: 14px;
  color: $clr-grey;
  position: absolute;
  top: 16px;
  left: 20px;
  pointer-events: none;
  transition: all 0.5s ease;
}

.quote__text-input {
  background: transparent;
  outline: none;
  border: 1px solid $clr-blue-grey;
  border-radius: 3px;
  width: 100%;
  padding: 10px 20px;
  margin-top: 4px;
  @include font-regular();
  font-size: 16px;
  color: $clr-grey;
  transition: padding 0.5s ease;
  &:focus,
  &:valid {
    padding-top: 30px;
    &~ .quote__label {
      transform: translateY(-5px);
    }
  }
}
