@import '../vars';

.regions {
  background-color: $clr-darkblue;
  @include adaptive(desktop) {
    margin-top: 0;
  }
}

.regions__item-wrapper {
  display: flex;
}

.regions__item {
  flex-basis: 50%;
}