@import '../vars';

.section-headers {
  text-align: center;
  color: $clr-darkblue;
  &--hidden {
    @include adaptive(tablet) {
      display: none;
    }
  }
  &--quote {
    .section-headers__h2,
    .section-headers__h4 {
      color: white;
    }
  }
}

.section-headers__h2 {
  position: relative;
  @include font-bold();
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 0;
  &::before {
    content: '';
    position: absolute;
    top: -15px;
    width: 200px;
    left: 50%;
    margin-left: -100px;
    height: 3px;
    background: linear-gradient(to right, $clr-pink 30%, transparent 30%, transparent 70%, $clr-pink 70%);
  }
  &::after {
    content: '';
    position: absolute;
    top: -29px;
    left: 50%;
    margin-left: -30px;
    width: 60px;
    height: 20px;
    background: url('../../img/red-arrow.svg') no-repeat center;
    @include adaptive(tablet) {
      top: -37px;
      margin-left: -33px;
      width: 66px;
      height: 37px;
    }
  }
}

.section-headers__h4 {
  @include font-regular();
  font-size: 16px;
  line-height: 24px;
  margin-top: 0;
  letter-spacing: 3px;
}

