@import '../vars';

.section-headers {
    text-align: center;
    color: $clr-darkblue;
    &--hidden {
        @include adaptive(tablet) {
            display: none;
        }
    }
    &--quote,
    &--price {
        .section-headers__h2,
        .section-headers__h4 {
            color: $clr-white;
        }
    }
    &--address {
        @include adaptive(desktop) {
            color: $clr-white;
            display: none;
        }
    }
    &--pages {
        margin: 0 auto;
        @include adaptive(tablet) {
            margin: 20px auto 0;
        }
    }
}

.section-headers__page-header {
    text-align: center;
    &--dark-bg {
        .section-headers__main-header {
            color: $clr-lightgrey;
        }
    }
    &--contacts {
        margin-top: 50px;
    }
}

.section-headers__main-header {
    position: relative;
    display: inline;
    @include font-bold();
    font-size: 2rem;
    line-height: 1.5;
    margin: 20px 0;
    color: $clr-darkblue;

    @include adaptive(desktop) {
        font-size: 30px;
        line-height: 48px;
    }

    &--custom {
        flex-basis: 100%;
        margin: 0;
        text-align: center;

        @include adaptive(desktop) {
            margin-top: -50px;
            margin-bottom: 0;
            text-align: left;
        }
    }

    br {
        @include adaptive(tablet) {
            display: none;
        }
    }
    span {
        position: absolute;
        top: 4px;
        left: -20px;
        height: 2px;
        width: 15px;
        background: $clr-pink;
        @include adaptive(desktop) {
            top: 8px;
            height: 4px;
        }
        &::before, &::after {
            content: '';
            position: absolute;
            height: 2px;
            background: $clr-pink;
            @include adaptive(desktop) {
                height: 4px;
            }
        }
        &::before {
            width: 25px;
            top: 6px;
            left: -10px;
            @include adaptive(desktop) {
                top: 9px;
            }
        }
        &::after {
            width: 35px;
            top: 13px;
            left: -20px;
            @include adaptive(desktop) {
                top: 18px;
            }
        }
    }
}

.section-headers__h2 {
    position: relative;
    @include font-bold();
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin-bottom: 0;
    &::before {
        content: '';
        position: absolute;
        top: -15px;
        width: 200px;
        left: 50%;
        margin-left: -100px;
        height: 3px;
        background: linear-gradient(to right, $clr-pink 30%, transparent 30%, transparent 70%, $clr-pink 70%);
    }
    &::after {
        content: '';
        position: absolute;
        top: -29px;
        left: 50%;
        margin-left: -30px;
        width: 60px;
        height: 20px;
        background: url('../img/icons/blue-arrow.svg') no-repeat center;
        @include adaptive(tablet) {
            top: -37px;
            margin-left: -33px;
            width: 66px;
            height: 37px;
        }
    }
}

.section-headers__h4 {
    @include font-regular();
    font-size: 16px;
    line-height: 24px;
    margin-top: 0;
    letter-spacing: 3px;
}

