@import '../vars';

.standart-button {
  @include font-regular();
  font-size: 16px;
  line-height: 24px;
  color: $clr-white;
  text-decoration: none;
  background-color: $clr-pink;
  padding: 10px 20px;
  border-radius: 20px;
  &--features {
    background-color: $clr-darkblue;
  }
}