@import '../vars';

.transport-types {
  padding-bottom: 100px;
  margin-top: -100px;
  .main-container {
    max-width: 1170px;
    margin: 0 auto;
  }
}

.transport-types__wrapper {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  background-color: $clr-white;
  @include adaptive(tablet) {
    border-radius: 20px;
    box-shadow: 0 1px 2px 1px #ccc;
    padding: 30px;
  }
}

.transport-types__item {
  flex-basis: 50%;
  text-align: center;
  padding-bottom: 10px;
  &:nth-child(2n+1) {
    border-right: 1px solid $clr-lightgrey;
    @include adaptive(tablet) {
      border: none;
    }
  }
  &:nth-child(n+3) {
    padding-bottom: 0;
  }
  @include adaptive(tablet) {
    flex-basis: 25%;
    &:not(:last-child) {
      border-right: 1px solid $clr-lightgrey;
    }
  }
}

.transport-types__header-text {
  @include font-regular-roboto();
  font-size: 14px;
  line-height: 24px;
}

.transport-types__text {
  @include font-light-roboto();
  font-size: 12px;
  line-height: 20px;
}

.transport-types__image-block {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    left: 30%;
    right: 30%;
    bottom: -10px;
    height: 2px;
    background-color: $clr-pink;
  }
}

.transport-types__image {
  border-radius: 50%;
  box-shadow: 0 1px 6px 1px #ccc;
}